In [1]:
#task 1
x=int(input('enter 1st value: '))
y=int(input('enter 2nd value: '))
z=int(input('enter 3rd value: '))
s=(x+y+z)/2
p=(s-x)*(s-y)*(s-z)
p1=p**(1/2)
Area=s*p1
print(Area)

enter 1st value: 7
enter 2nd value: 10
enter 3rd value: 5
53.88877434122991

In [26]:
#task 2
input1=input('enter 3 numbers: ').split(',')
maximum=0
for item in input1:
    if(item>str(maximum)):
        maximum=item
print(maximum)

enter 3 numbers: 1,2,0
2

In [15]:
#task 3
input1=int(input('enter the hypotenuse: '))
input2=int(input('enter the base: '))
input3=int(input('enter the height: '))
sum1=input1
sum2=input2+input3
if(sum1==sum2):
    print('triangle is valid')
else:
    print('triangle is invalid')

enter the hypotenuse: 2
enter the base: 1
enter the height: 1
triangle is valid

In [8]:
#task 4
input1=int(input('enter a year: '))
if(input1%4==0):
    if(input1%400==0):
        print(input1,'is a leap year')
    elif(input1%100==0):
        print(input1,'is not a leap year')

enter a year: 1800
1800 is not a leap year

In [4]:
#task 5
input1=int(input('enter a number: '))
string=''
string2=''
sum=0
for item in range(1,input1+1):
    string+='1'
    print(string,end='+')
    string2+=str(item)
print()
print(string2)

enter a number: 5
1+11+111+1111+11111+
12345

In [22]:
#task 6
input1=int(input('enter a number'))
for item in range(1,11):
    multiple=input1*item
    print(multiple)

enter a number5
5
10
15
20
25
30
35
40
45
50

In [10]:
#task 7
input1=int(input('enter: '))
for i in range(1,input1+1):
    if (i==1) or (i==input1):
        for j in range(input1):
            print('*',end='')
    else:
        for j in range(input1-i):
            print(' ',end='')
        print('*',end='')
    print()

enter: 7
*******
     *
    *
   *
  *
 *
*******

In [7]:
#task 8 
n=int(input('enter a number: '))
sum=0
counter=0
s='stop'
for i in range(0,n):
    input1=input('enter numbers: ')
    if(input1!=s):
        counter+=1
        sum+=int(input1)
        average=sum/counter
    else:
        break

print('average:',average)
print('sum:',sum)

enter a number: 5
enter numbers: -1
enter numbers: 1
enter numbers: stop
average: 0.0
sum: 0

## task 9 
input1=input('enter: ')
string1='1,2,3,4,5,6,7,8,9,0'
string2='a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z'
counter=0
counter1=0
counter2=0
for item in input1:
    if(item in string1):
        counter+=1
    if(item in string2):
        counter1+=1
    elif(item not in string1) and (item not in string2):
        counter2+=1
print('No of numbers:',counter)
print('No of alphabets:',counter1)
print('Special characters:',counter2)

In [20]:
#task 10
input1=input('enter:').split(' ')
minimum=999999
maximum=-99999
minimum1=''
maximum1=''
for item in input1:
    if(len(item)>maximum):
        maximum=len(item)
        maximum1=item
    if(len(item)<minimum):
        minimum=len(item)
        minimum1=item
print('greatest',maximum1)
print('smallest',minimum1)

enter:the breaking news
greatest breaking
smallest the

In [12]:
#task 11
input1=input('enter:').lower()
input2=input('enter a letter: ')
input3=''
for i in input1:
    if(i in input2):
        pass
    else:
        input3+=i
print(input3)

enter:1
enter a letter: 2
1

In [24]:
#task 12
input1=input('enter:').split(' ')
for i in input1:
    a=str(chr(ord(i[0])-32))
    for j in range(1,len(i)):
        a=a+i[j]
    print(a,end=' ')

enter:i love python programming
I Love Python Programming

In [149]:
#task 13
input1=[int(item) for item in input('enter: ').split(',')]
for i in input1:
    multiple*=i
print(multiple)

enter: 1,2,3,4,5
120

In [150]:
#task 14
list1 = [int(item) for item in input('enter: ').split(',')]
list2 = [int(item) for item in input('enter: ').split(',')]
list3=list2[::-1]
list4=[]
for i in range(len(list1)):
    print(list1[i],list3[i])

enter: 10,20,30,40
enter: 100,200,300,400
10 400
20 300
30 200
40 100

In [136]:
#task 15
p=[str(item) for item in input('enter: ').split(',')]
q=[]
for i in range(len(p)):
    q.append(p[i][::-1])
print(q)

enter: Red,Blue,Green,White,Black
['deR', 'eulB', 'neerG', 'etihW', 'kcalB']

In [22]:
#task 16
l=[int(item) for item in input('enter:').split(',')]
for i in range(len(l)):
    if(l[i]%2==0):
        print('1st even number:',l[i])
        break
for i in range(len(l)):
    if(l[i]%2!=0):
        print('1st odd number:',l[i])
        break

enter:2,4,6,8,10,1
1st even number: 2
1st odd number: 1

In [2]:
#task 17
A = [str(item) for item in input('enter: ').split(',')]
N=int(input('enter a number: '))
l=[]
m=[]
for i in A:
    s=i
    for j in range(1,N+1):
            s+=str(j)
            l.append(s)
            s=i
for i in range(N):
    m.append(l[i])
    m.append(l[i+N])
print(m)

enter: p,q
enter a number: 2
['p1', 'q1', 'p2', 'q2']